extends layout
block content
         
    section
        
        p
            a(href="/uploads") Uploaded files.
            #{msg}
      

        div.error
            if(error != null)
                p=error